 body {
    background: #d1c628;
    background: linear-gradient(90deg, rgba(209, 198, 40, 1) 1%, rgba(99, 169, 219, 1) 42%, rgba(67, 250, 143, 1) 81%);
    cursor: url("recipes/images/spatula-2.png"), auto;
}


h1 {
    font-family: sans-serif;
    text-align: center;
}

ul {
    font-family: "Verdana";
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

img {
    border: 5px solid rgb(208, 108, 185);
}