body {
          background: #b46b3a;
            background: linear-gradient(90deg, rgb(226, 101, 28) 0%, rgb(236, 150, 29) 50%, rgb(222, 189, 143) 100%);
            cursor: url("../images/apple-2.png"), auto;
        }

h1 {
    font-family: sans-serif;
    text-align: center;
}

img {
    border: 5px solid rgb(208, 108, 185);
    display: block;
    margin: auto;
}
