body {
    background: #9ee8e2;
    background: linear-gradient(90deg, rgba(158, 232, 226, 1) 1%, rgb(200, 234, 242) 31%, rgba(99, 169, 219, 1) 42%, rgb(173, 246, 246) 81%);
    cursor: url("../images/almond.png"), auto;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

img {
    border: 5px solid rgb(208, 108, 185);
    display: block;
    margin: auto;
}
