body {
    min-height: 100vh;
    background: #abc322;
    background: linear-gradient(126deg, rgba(171, 195, 34, 1) 0%, rgba(68, 174, 193, 1) 20%, rgba(192, 129, 84, 1) 100%) no-repeat;
    background-attachment: fixed;
    cursor: url("../images/coffee-pot.png"), auto; 
}

h1 {
    font-family: sans-serif;

    text-align: center;
}

img {
    border: 5px solid rgb(208, 108, 185);
    display: block;
    margin: auto;
}
